<% if logged_in? %>
  <% value = 'Log Out' %>
<% else %>
  <% value = 'Log In' %>
<% end %>


  <nav>
    <div class='user-detail'>
      <% if logged_in? %>
        <p>Logged in as: <%= current_user.email %></p>
        <form action= "<%= session_url %>" method = "post">
      <% else %>
        <form action= "<%= new_session_url %> ">
      <% end %>

        <% if logged_in? %>
          <input type="hidden" name="_method" value="delete">

        <% end %>

      <%= render '/shared/prevent_forgery' %>

      <input type="submit" value= "<%= value %>" >

      </form>

    <% unless logged_in? %>
      <form action= "<%= new_user_url %>">
        <input type="submit" value= "Create New User Profile" >
      </form>
    <% end %>
    </div>
  </nav>
